@model IEnumerable<basicCRM.Models.CustomerModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of customers</h1>

<p>
   @if (User.IsInRole("AccountManager"))
    {
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    }
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                    @if (User.IsInRole("AccountManager"))
                    {

                        <a href="@Url.Action("Edit","Customer",new { id=item.Idcustomer})" ,new class="btn btn-outline-warning">
                            <span>
                                <img src="~/pencil-square.svg" alt="Edit SVG" />
                            </span>
                        </a>

                    }

                    @*@Html.ActionLink("Details", "Details", new { id=item.Idcustomer },new {@class="btn btn-info"})*@
                    <a href="@Url.Action("Details","Customer",new { id=item.Idcustomer})" ,new class="btn btn-outline-info">
                        <span>
                            <img src="~/card-heading.svg" alt="Details SVG" />
                        </span>
                    </a>

                    @if (User.IsInRole("AccountManager"))
                    {
                        @*@Html.ActionLink("Delete", "Delete", new { id=item.Idcustomer },new {@class="btn btn-danger"})*@
                        <a href="@Url.Action("Delete","Customer",new { id=item.Idcustomer})" ,new class="btn btn-outline-danger">
                            <span>
                                <img src="~/trash.svg" alt="Delete SVG" />
                            </span>
                        </a>
                    }
                    
            </td>
        </tr>
}
    </tbody>
</table>
