@model IEnumerable<basicCRM.Models.EmployeeModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of employees</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

@using (Html.BeginForm())
{
    <p>
        Find by name or email: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.Idemployee },new {@class="btn btn-success"})*@
                    <a href="@Url.Action("Edit","Employee",new { id=item.Idemployee})" ,new class="btn btn-outline-warning">
                        <span>
                            <img src="~/pencil-square.svg" alt="Edit SVG" />
                        </span>
                    </a>
                @*@Html.ActionLink("Details", "Details", new { id=item.Idemployee },new {@class="btn btn-info"}) *@
                    <a href="@Url.Action("Details","Employee",new { id=item.Idemployee})" ,new class="btn btn-outline-info">
                        <span>
                            <img src="~/card-heading.svg" alt="Details SVG" />
                        </span>
                    </a>
                @*@Html.ActionLink("Delete", "Delete", new { id=item.Idemployee },new {@class="btn btn-danger"})*@
                    <a href="@Url.Action("Delete","Employee",new { id=item.Idemployee})" ,new class="btn btn-outline-danger">
                        <span>
                            <img src="~/trash.svg" alt="Delete SVG" />
                        </span>
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
