@model IEnumerable<basicCRM.ViewModels.OfferViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of offers</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OfferType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpireDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValueMwh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opportunity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OfferType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpireDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValueMwh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opportunity)
            </td>
            <td>

               @*@Html.ActionLink("Edit", "Edit", new { id=item.Idoffer },new {@class="btn btn-success"})*@
                    <a href="@Url.Action("Edit","Offer",new { id=item.Idoffer})" ,new class="btn btn-outline-warning">
                        <span>
                            <img src="~/pencil-square.svg" alt="Edit SVG" />
                        </span>
                    </a>
               @*@Html.ActionLink("Details", "Details", new { id = item.Idoffer },new {@class="btn btn-info"})*@
                    <a href="@Url.Action("Details","Offer",new { id=item.Idoffer})" ,new class="btn btn-outline-info">
                        <span>
                            <img src="~/card-heading.svg" alt="Details SVG" />
                        </span>
                    </a>
               @*@Html.ActionLink("Delete", "Delete", new { id = item.Idoffer },new {@class="btn btn-danger"})*@
                    <a href="@Url.Action("Delete","Offer",new { id=item.Idoffer})" ,new class="btn btn-outline-danger">
                        <span>
                            <img src="~/trash.svg" alt="Delete SVG" />
                        </span>
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
